<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cspy.online.dao.UserMapper">
    <select id="selectOne" resultType="cspy.online.bean.User">
        select * from user_table where username = #{username}
    </select>

    <select id="selectAll" resultType="cspy.online.bean.User">
        select * from user_table
    </select>

    <select id="getAllUser" resultType="String">
        select username from user_table;
    </select>

    <insert id="insertUser" parameterType="cspy.online.bean.User">
        insert into user_table (gmt_create, gmt_modify, username, password)
        values (#{gmtCreate}, #{gmtModify}, #{username}, #{password})
    </insert>

    <insert id="insertUsers" parameterType="java.util.List">
        insert into user_table (gmt_create, gmt_modify, username, password)
        values 
        <foreach collection="list" item="user" index="index" separator=",">
            (#{user.gmtCreate}, #{user.gmtModify}, #{user.username}, #{user.password})
        </foreach>

    </insert>

</mapper>